# Day 5&6  Functions in Python PW Data Science

# Functions Part 1

In [1]:
l=[1,2,3,4,5]
len(l)

5

In [2]:
def test()

SyntaxError: invalid syntax (<ipython-input-2-b746679f0777>, line 1)

In [3]:
def test():
    pass

In [5]:
def test1():
    print("Welcome")
test1()

Welcome

In [6]:
test1()+"in hotel"

Welcome

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [7]:
def test2():
    return "Welcome"
test2()+" in hotel"

'Welcome in hotel'

In [8]:
# we can return multiple elements
def test3():
    return 1,2,"hi",3.3
test3()

(1, 2, 'hi', 3.3)

In [9]:
test3()[2]

'hi'

In [10]:
test3()[1]

2

In [11]:
def test4():
    a=2+4
    return a
type(test4())

int

In [13]:
print(test4())

6

In [14]:
def test5(a,b):
    c=a+b
    return c

test5(2,27)

29

In [15]:
test5("hello"," how are you")

'hello how are you'

In [16]:
test5([1,2,3,4],[3,5,2,3])

[1, 2, 3, 4, 3, 5, 2, 3]

In [17]:
test5(b="Jain",a="Mayank")

'MayankJain'

In [18]:
temp_list=[1,2,3,4,"abjhd","dfd",[1,6,7,4]]
# function which will take list as a input and give a final list will all the numeric value

In [23]:
def test6(lst):
    a=[]
    for i in lst:
        if type(i)==int or type(i)==float :
             a.append(i)
    return a

test6(temp_list)

[1, 2, 3, 4]

In [24]:
def test7(l):
    a=[]
    for i in l :
        if type(i)==list :
            for j in i :
                if type(j)==int or type(j)==float:
                    a.append(j)
        else :
            if type(i)==int or type(i)==float:
                a.append(i)
    return a

test7(temp_list)

[1, 2, 3, 4, 1, 6, 7, 4]

# Functions Part 2

Handling arguments during run time

In [25]:
def test8(*args):
    return args

In [26]:
test8(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [27]:
test8(2.4,4,"mayank",[1,3,4,"hi"],(1,3,4))

(2.4, 4, 'mayank', [1, 3, 4, 'hi'], (1, 3, 4))

In [28]:
def test9(*args,a):
    return args, a

In [29]:
test9(4.4,4,34,"dgd",a=6)

((4.4, 4, 34, 'dgd'), 6)

In [31]:
test9(4.4,4,34,"dgd",a=6, 4,"dfdf")

SyntaxError: positional argument follows keyword argument (<ipython-input-31-92b2e6875568>, line 1)

In [33]:
def test10(*args):
    l=[]
    for i in args:
        if type(i)==list:
            l.append(i)
    return l

test10(1,2,3,"kmkma",[1,2,3],(4,2,3),"Dhh",[1,"Dgd",3,4])

[[1, 2, 3], [1, 'Dgd', 3, 4]]

passing key value pair in function

In [34]:
def test11(**kvargs):
    return kvargs

test11()

{}

In [35]:
test11(a=34,b=33,c=3.3,colors=("red","blue","pink"))

{'a': 34, 'b': 33, 'c': 3.3, 'colors': ('red', 'blue', 'pink')}

In [39]:
def test12(**args):
    for i in args.keys():
        if type(args[i])==list:
            return i,args[i]

test12(a=34,b=33,c=3.3,age=[45,33,24,64,33],colors=("red","blue","pink"))

('age', [45, 33, 24, 64, 33])

In [40]:
def test13(*args,**keyargs):
    return args,keyargs

test13(4,5,3,3,"dfdf",a=34,b=33,c=3.3,age=[45,33,24,64,33],colors=("red","blue","pink"))

((4, 5, 3, 3, 'dfdf'),
 {'a': 34,
  'b': 33,
  'c': 3.3,
  'age': [45, 33, 24, 64, 33],
  'colors': ('red', 'blue', 'pink')})

# Generator Function

In [41]:
range(1,14)

range(1, 14)

In [42]:
for i in range(1,14):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13

In [48]:
# we have to use yield method for this purpose
def test_fib(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b=b,a+b

In [49]:
test_fib(10)

In [50]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

# Lambda Function

In [51]:
#Suppose we need to pth power of n so we can do by following method

def test_pow(n,p):
    return n**p

test_pow(3,3)

27

In [52]:
# By using lambda

lambda n,p:n**p

In [53]:
a=lambda n,p:n**p
a(3,4)

81

In [54]:
a(2,5)

32

In [57]:
add=lambda c,b : c+b
add(35,34)

69

In [58]:
add("mayank"," jain")

'mayank jain'

In [59]:
max_two=lambda x,y: x if x>y else y

In [60]:
max_two(35,64)

64

# Map, Reduce, Filter Functions

In [63]:
# Suppose we have a list and we need to create a list which contain square of elements of previous one
l=[1,2,3,4,5]

def lstpow(a):
    l=[]
    for i in a:
        l.append(i**2)
    return l

lstpow(l)

[1, 4, 9, 16, 25]

In [64]:
# Suppose we want to implement above in single line then refer below

def sq(x):
    return x**2

In [65]:
list(map(sq,l))

[1, 4, 9, 16, 25]

In [66]:
# we can also pass lambda into it
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25]

In [67]:
list(map(lambda x:x+10,l))

[11, 12, 13, 14, 15]

In [68]:
list(map(lambda x:str(x),l))

['1', '2', '3', '4', '5']

In [71]:
l1=[1,2,3,4,5]
l2=[4,53,3,5,23]

list(map(lambda x,y:x+y , l1,l2))

[5, 55, 6, 9, 28]

In [72]:
s="welcome"
list(map(lambda x:x.upper(),s))

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [76]:
from functools import reduce

In [77]:
reduce(lambda x,y:x+y, l)

15

In [78]:
reduce(lambda x,y:x+y, [1])

1

In [79]:
reduce(lambda x,y:x*y,[1])

1

In [80]:
l=[3,6,33,56,23,566,3434,454]

reduce(lambda x,y : x if x>y else y,l)

3434

in above examples first and second element will be x and y
now on next iteration result of above will be x and third element will be y and so on

Now suppose we have to conditionally return certain elements than we can use filter method

In [82]:
list(filter(lambda x:x%2==0,l))

[6, 56, 566, 3434, 454]

In [83]:
list(filter(lambda x:x>100,l))

[566, 3434, 454]

In [84]:
ll2=["dfdfd","kjklwww","dfdf","fdfdfd","dffdfdss"]

list(filter(lambda x:len(x)>6,ll2))

['kjklwww', 'dffdfdss']