In [ ]:
# Day 3 strings and lists PW Data Science

In [106]:
"mayank".capitalize()

'Mayank'

In [4]:
name="hello"
name.join()

TypeError: join() takes exactly one argument (0 given)

In [5]:
name.join("you")

'yhelloohellou'

In [6]:
' '.join(reversed(name))

'o l l e h'

In [7]:
reversed(name)

In [8]:
 ''.join(reversed(name))

'olleh'

In [9]:
list(reversed(name))

['o', 'l', 'l', 'e', 'h']

In [20]:
temp="ma yan k"
print(temp)

ma yan k

In [21]:
temp.strip(" ")

'ma yan k'

In [22]:
string_a=" n ame "

In [23]:
string_a.strip(" ")

'n ame'

In [24]:
temp="what do you want"
print(temp)

what do you want

In [25]:
temp.replace("do","")

'what  you want'

In [28]:
temp.replace("what",''.join(reversed("why")))

'yhw do you want'

In [29]:
temp[0]='d'

TypeError: 'str' object does not support item assignment

In [30]:
temp.replace("w","t")

'that do you tant'

In [32]:
"hello \t world"

'hello \t world'

In [33]:
"hello \t world".expandtabs()

'hello    world'

In [35]:
str1="Welcome to ur htl"
str1.replace("ur","our").replace("htl","hotel")

'Welcome to our hotel'

In [36]:
str1.isupper()
# more options: islower,isspace, isempty,endswith('anychar'),startswith('')
# isalnum{to check alphanumeric}

False

In [38]:
str1.Uppercase()

AttributeError: 'str' object has no attribute 'Uppercase'

In [39]:
name="mayank";
key="jain";
for ch in name:
    if ch in key:
        print("{}, is present in key".format(ch))
    else:
        print("{}, is not present in key".format(ch))

m, is not present in key
a, is present in key
y, is not present in key
a, is present in key
n, is present in key
k, is not present in key

In [ ]:
#list is ordered collection of elements

In [40]:
["a","d","d",5]

['a', 'd', 'd', 5]

In [41]:
list(temp)

['w',
 'h',
 'a',
 't',
 ' ',
 'd',
 'o',
 ' ',
 'y',
 'o',
 'u',
 ' ',
 'w',
 'a',
 'n',
 't']

In [42]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [43]:
list(temp.split(" "))

['what', 'do', 'you', 'want']

In [44]:
str2="hello me and hello you"
list(str2.split(" "))

['hello', 'me', 'and', 'hello', 'you']

In [45]:
str2.split(" ")
# return type is list

['hello', 'me', 'and', 'hello', 'you']

In [46]:
list1=str2.split(" ")

In [47]:
list1

['hello', 'me', 'and', 'hello', 'you']

In [48]:
list1[::-2]

['you', 'and', 'hello']

In [50]:
#concatenation
list1+["where","are","you",2]

['hello', 'me', 'and', 'hello', 'you', 'where', 'are', 'you', 2]

In [52]:
list1+[["m","j"]]
# we can pass list as element

['hello', 'me', 'and', 'hello', 'you', ['m', 'j']]

In [57]:
list1[4]

'you'

In [58]:
list1

['hello', 'me', 'and', 'hello', 'you']

In [68]:
list2=['hello', 'me', 'and', 'hello',94, 'you', ['m', 'j']]

In [60]:
list2

['hello', 'me', 'and', 'hello', 'you', ['m', 'j']]

In [61]:
list2[5]

['m', 'j']

In [62]:
list2[5][1]
# list2[-1][1] also means same

'j'

In [63]:
list1*2

['hello', 'me', 'and', 'hello', 'you', 'hello', 'me', 'and', 'hello', 'you']

In [64]:
# to check if element is present or not
"and" in list1

True

In [67]:
print(max(list1))

you

In [69]:
print(max(list2))

TypeError: '>' not supported between instances of 'int' and 'str'

In [71]:
list2.append(5)

In [72]:
list2

['hello', 'me', 'and', 'hello', 94, 'you', ['m', 'j'], 5]

In [73]:
list2.pop()

5

In [74]:
list2

['hello', 'me', 'and', 'hello', 94, 'you', ['m', 'j']]

In [75]:
list2.pop(4)

94

In [76]:
list2

['hello', 'me', 'and', 'hello', 'you', ['m', 'j']]

In [77]:
# functions on list .reverse,.sort

In [78]:
[i for i in range(15)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [79]:
[i for i in range(15,2)]

[]

In [86]:
[i for i in range(15)][3::3]

[3, 6, 9, 12]

In [87]:
sum([i for i in range(15)][3::3])

30

In [92]:
[i*i for i in range(0,10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [93]:
lists=[[1,2,3],[4,5,6],[7,8,9]]

In [97]:
newlist=[]

In [98]:
newlist

[]

In [103]:
newlist=lists[0]+lists[1]+lists[2]
# or [num for sublist in lists for num in sublist]

In [104]:
newlist

[1, 2, 3, 4, 5, 6, 7, 8, 9]