# Day 4 Tuple, Set and Dictonary PW Data Science

# Tuple

In [2]:
t=()

In [3]:
type(t)

tuple

In [4]:
temp=(1,2,3,4,5,"dfdcds",True)

In [5]:
type(temp)

tuple

In [8]:
temp[0]+temp[-3]

6

In [9]:
temp[::-1] 
# printing a reverse tupple

(True, 'dfdcds', 5, 4, 3, 2, 1)

In [10]:
temp[0:3:-1]

()

In [11]:
temp[-1:-3:-1]

(True, 'dfdcds')

functions that can be implemented on tupple

In [14]:
temp.count(4)

1

In [15]:
temp.count("hj")

0

In [16]:
temp.index(1)
# first appearance

0

In [19]:
temp.index(5)

4

In [21]:
temp.count(True)
#True will be stored internally as 1

2

In [22]:
temp[1]

2

In [23]:
temp[1]=3
#tupple is immutable

TypeError: 'tuple' object does not support item assignment

In [26]:
t1=[True,(4+3j),1,'a',2,4.5,"dkjka"," "]

In [27]:
for i in t1:
    print(i)

True
(4+3j)
1
a
2
4.5
dkjka

In [28]:
for i in t1:
    print(i,type(i))

True <class 'bool'>
(4+3j) <class 'complex'>
1 <class 'int'>
a <class 'str'>
2 <class 'int'>
4.5 <class 'float'>
dkjka <class 'str'>
  <class 'str'>

In [29]:
t2=(1,2,3,4,5)

In [30]:
t2

(1, 2, 3, 4, 5)

In [31]:
t2*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [32]:
max(t2)

5

In [33]:
min(t2)

1

In [34]:
temp1=(3,"d",4,5)

In [35]:
temp2=(3.3,5,"sd","dg")

In [36]:
temp3=([3,6,3])

In [37]:
resultant=(temp1,temp2,temp3)

In [38]:
resultant

((3, 'd', 4, 5), (3.3, 5, 'sd', 'dg'), [3, 6, 3])

In [39]:
del temp

In [40]:
temp

NameError: name 'temp' is not defined

In [41]:
len(resultant)

3

In [42]:
len(resultant[1])

4

In [46]:
'dg' in resultant

False

In [47]:
'dg' in resultant[1]

True

# Sets

In [48]:
s={1,2,3,4}

In [49]:
type(s)

set

In [50]:
s1={1,2,4,4,3,2,1,5,7,4,2,5,7,8,5}

In [51]:
s1

{1, 2, 3, 4, 5, 7, 8}

It will store unique elements

In [52]:
list(s1)

[1, 2, 3, 4, 5, 7, 8]

In [54]:
tuple(s1)

(1, 2, 3, 4, 5, 7, 8)

In [55]:
l=list(s1)

In [56]:
l

[1, 2, 3, 4, 5, 7, 8]

In [57]:
set(l)

{1, 2, 3, 4, 5, 7, 8}

In [58]:
s2={1,2,3,4,[1,2,3,4]}

TypeError: unhashable type: 'list'

because list is mutable

In [60]:
s2={1,2,3,4,(1,2,3,4)}

because tuple is not mutable

In [62]:
s3={"m","j",1,2,3,4} 
# strings are also immutable

In [63]:
s3[3]

TypeError: 'set' object does not support indexing

we cannot directly fetch date from set by indexing

In [72]:
for i in s3:
    print(i)

64
1
2
3
4
j
m
94

In [67]:
s3

{1, 2, 3, 4, 64, 'j', 'm'}

In [70]:
s3.add(94)

In [71]:
s3

{1, 2, 3, 4, 64, 94, 'j', 'm'}

In [73]:
len(s3)

8

In [74]:
s3.pop()

64

In [75]:
s3

{1, 2, 3, 4, 94, 'j', 'm'}

This is based on hashing

In [76]:
s2.clear()

In [77]:
s2

set()

In [78]:
s4={1,2,3,4}
s5={1,2,5,7}

In [79]:
s4.difference(s5)

{3, 4}

In [80]:
s5.difference(s4)

{5, 7}

# Dictionary

In [81]:
d={}

In [82]:
type(d)

dict

Here data is stored as a key and value pair

In [87]:
d1={"name":"mayank","id":3,"color":"red"}

In [88]:
d1

{'name': 'mayank', 'id': 3, 'color': 'red'}

In [89]:
type(d1)

dict

In [90]:
d2={"name":"mayank","name":"raj"}

In [91]:
d2

{'name': 'raj'}

key should always be unique otherwise it will store the new value

In [93]:
d3={134:"afdd"}

In [94]:
d3

{134: 'afdd'}

In [95]:
d4={23.4:"a",True:"yes"}

In [96]:
d4

{23.4: 'a', True: 'yes'}

In [97]:
d5={#:"dgd"}

SyntaxError: unexpected EOF while parsing (<ipython-input-97-13e9027b7cc2>, line 1)

We cannot use special characters for defining key

In [98]:
d6={[1,2,3]:"add"}

TypeError: unhashable type: 'list'

In [99]:
d7={(1,2,3):"adv"}

In [100]:
d7

{(1, 2, 3): 'adv'}

In [101]:
d8={{1,23}:"adfd"}

TypeError: unhashable type: 'set'

In [102]:
d9={{"djd":34}:45}

TypeError: unhashable type: 'dict'

In [103]:
d10={"color":{"red","blue","pink","green"}}

In [104]:
d10

{'color': {'blue', 'green', 'pink', 'red'}}

We can store tuple, set and list as value

In [105]:
d11={"user":{"name":"mayank","id":3,"color":"red"}}

In [106]:
d11

{'user': {'name': 'mayank', 'id': 3, 'color': 'red'}}

In [107]:
d12={"subject":["DSA","OOPs","OS","SE"],"max_marks":(100,70,100,70),"marks_scored":{80,55,88,52}}

In [108]:
d12

{'subject': ['DSA', 'OOPs', 'OS', 'SE'],
 'max_marks': (100, 70, 100, 70),
 'marks_scored': {52, 55, 80, 88}}

In [109]:
d12["date"]=(1,3,6,8)

In [110]:
d12

{'subject': ['DSA', 'OOPs', 'OS', 'SE'],
 'max_marks': (100, 70, 100, 70),
 'marks_scored': {52, 55, 80, 88},
 'date': (1, 3, 6, 8)}

In [111]:
d12["subject"]

['DSA', 'OOPs', 'OS', 'SE']

In [112]:
d12["marks_scored"]

{52, 55, 80, 88}

In [113]:
type(d12["date"])

tuple

In [114]:
d12["key"]

KeyError: 'key'

In [115]:
d12["name"]="mayank"

In [116]:
d12

{'subject': ['DSA', 'OOPs', 'OS', 'SE'],
 'max_marks': (100, 70, 100, 70),
 'marks_scored': {52, 55, 80, 88},
 'date': (1, 3, 6, 8),
 'name': 'mayank'}

In [117]:
type(d12["name"])

str

In [118]:
d12["name"].upper()

'MAYANK'

In [119]:
d12

{'subject': ['DSA', 'OOPs', 'OS', 'SE'],
 'max_marks': (100, 70, 100, 70),
 'marks_scored': {52, 55, 80, 88},
 'date': (1, 3, 6, 8),
 'name': 'mayank'}

In [120]:
d11

{'user': {'name': 'mayank', 'id': 3, 'color': 'red'}}

In [121]:
type(d11)

dict

In [122]:
d11["user"]

{'name': 'mayank', 'id': 3, 'color': 'red'}

In [123]:
type(d11["user"])

dict

In [124]:
d11["user"]["color"]

'red'

In [125]:
d11["key1"]="abd"

In [126]:
d11

{'user': {'name': 'mayank', 'id': 3, 'color': 'red'}, 'key1': 'abd'}

In [127]:
del d11["key1"]

In [128]:
d11

{'user': {'name': 'mayank', 'id': 3, 'color': 'red'}}

In [129]:
d2

{'name': 'raj'}

In [130]:
d2.clear()

In [131]:
d2

{}

In [132]:
len(d12)

5

In [133]:
d12.keys()

dict_keys(['subject', 'max_marks', 'marks_scored', 'date', 'name'])

In [134]:
templ=list(d12.keys())

In [135]:
templ

['subject', 'max_marks', 'marks_scored', 'date', 'name']

In [136]:
list(d12.values())

[['DSA', 'OOPs', 'OS', 'SE'],
 (100, 70, 100, 70),
 {52, 55, 80, 88},
 (1, 3, 6, 8),
 'mayank']

In [137]:
list(d11.items())

[('user', {'name': 'mayank', 'id': 3, 'color': 'red'})]

In [138]:
list(d12.items())

[('subject', ['DSA', 'OOPs', 'OS', 'SE']),
 ('max_marks', (100, 70, 100, 70)),
 ('marks_scored', {52, 55, 80, 88}),
 ('date', (1, 3, 6, 8)),
 ('name', 'mayank')]

In [139]:
d13=d12.copy()

In [140]:
d13

{'subject': ['DSA', 'OOPs', 'OS', 'SE'],
 'max_marks': (100, 70, 100, 70),
 'marks_scored': {52, 55, 80, 88},
 'date': (1, 3, 6, 8),
 'name': 'mayank'}

In [141]:
d14=d12

In [142]:
d14

{'subject': ['DSA', 'OOPs', 'OS', 'SE'],
 'max_marks': (100, 70, 100, 70),
 'marks_scored': {52, 55, 80, 88},
 'date': (1, 3, 6, 8),
 'name': 'mayank'}

above both methods have difference
when we use .copy() it assigns new space for d13 these both will be different changes in one will not affect other
while in second one it is shallow copy changes in one will be affect both

In [143]:
d13.pop()

TypeError: pop expected at least 1 arguments, got 0

In [144]:
d13.pop("name")

'mayank'

In [145]:
d13

{'subject': ['DSA', 'OOPs', 'OS', 'SE'],
 'max_marks': (100, 70, 100, 70),
 'marks_scored': {52, 55, 80, 88},
 'date': (1, 3, 6, 8)}

In [147]:
d15={}

In [148]:
d15.fromkeys((1,2,3),('a','b','c'))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

we can also create tuple of dictionaries

In [149]:
dt1={1:"a",2:"b"}
dt2={2:"c",3:"d"}

In [150]:
dt1.update(dt2)

In [151]:
dt1

{1: 'a', 2: 'c', 3: 'd'}

In [152]:
dt2

{2: 'c', 3: 'd'}

In [153]:
dt1.get("ad")

In [154]:
dt1.get(1)

'a'

if key will be present it will return value else nothing
but if we do dt1["ad"] then it will return KeyError

===> {Dictionary Comprehensions}

In [155]:
# suppose we need to create dict where keys are int and values are their square
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [156]:
type({i:i**2 for i in range(1,11)})

dict

In [162]:
import math
dt3={i:math.log10(i) for i in range(1,11)}

In [158]:
1 in dt2

False

In [159]:
2 in dt2

True

In [160]:
dt2

{2: 'c', 3: 'd'}

In [164]:
dt3

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [165]:
dt3.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [167]:
for i in dt3.keys():
    if i%2==0:
        print(dt3[i])

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0